/* Default theme */

html,body {
	background-color:white;
	font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
    font-size:11pt;
	margin:0px;
	padding:0px;
	color: #000;
	min-width:750px;
}

#citygeneration{
    height:auto;
	width:100%;
	margin:0px;
	padding:0px;
	border:0px;
    background:white;
}

img {
    border:0px;
}

#header{
  border-bottom:2px solid #CCDE97;
}

#sidebar {
	width:13%;
    margin:10px;
    text-align:center;
    background-color:#EFEFEF;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CFCFCF;
}

#main {      
    float:right;
	width:84%;
	margin:10px 10px 0px 10px;
}

#spotlight,#content{	
  background-color: #EFEFEF;
  padding:5px;
  border-bottom:1px solid #CCC;
}

#footer {
	margin-top:20px;
	padding:10px 0px 5px 20px;
	text-align:left;
    font-size:small;
    color:#5762A8;
    border-top:1px solid #EBEBEB;
}

a:active, a:visited {
    text-decoration:underline;
    color:#5762A8;
}

a:link {
    color:#5762A8;
}

a:active,a:hover {
	color:#E85660;    
}

label {
  font-size:10pt;    
}

ul{
  margin:0px;
}

ul li{
  list-style-type:none;
  text-align:left;
  margin:5px;
}
