/* Default theme */

html,body {
	background-color:white;
	font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
    font-size:11pt;
	margin:0px;
	padding:0px;
	color: #000;
}

table{
  width:100%;
}

img {
  border:0px;
}

#header{
  border-bottom:1px solid #EBEBEB;
}

#navigator{
  background: #CCDE97;
  text-align:center;
}

#sidebar {
    width:10%;
    margin:10px;
    text-align:center;
    background-color:#EFEFEF;
    border-bottom:1px solid #CCC;
    border-left:1px solid #CFCFCF;
    position:absolute;
    left:10px;
}

#main {      
    float:right;
	width:84%;
	margin:10px 10px 0px 10px;
}

#content{	
  background-color: #EFEFEF;
  padding:5px;
  border-bottom:1px solid #CCC;
}

#footer {
	margin-top:20px;
	padding:10px 0px 5px 20px;
	text-align:left;
    font-size:9pt;
    color:#5762A8;
    border-top:1px solid #EBEBEB;
}

a:active, a:visited {
    text-decoration:underline;
    color:#5762A8;
}

a:link {
    color:#5762A8;
}

a:active,a:hover {
	color:#E85660;    
}

label {
  font-size:10pt;    
}

ul{
  margin:0px;
  text-align:left;
  font-size:10pt;
}

ul li{
  list-style-type:circle;
  margin:2px; 
}
