/* Default theme */

html,body {
    background-color: white;
    font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
    font-size: 11pt;
    margin: 0px;
    padding: 0px;
    color: #000;
}

img { border: 0px; }

code {
    background-color: #D8E5F1;
    color: black;
    padding: 5px;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

p {
    text-indent: 2em;
}

h3 span{
    font-weight: normal;
    font-style: italic;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: underline;
    color: #5762A8;
}

label { font-size: 10pt; }

ul {
    margin: 0px;
    text-align: left;
    font-size: 10pt;
}

ul li {
    list-style-type: none;
    margin: 2px 0px;
    padding: 5px;
    background-color: #EFEFEF;
}

#top_panel {
    height: 20%;
    margin-bottom: 10px;
    border-bottom: 1px solid #E1E1E1;
}

#frame {
    margin: 0px auto;
    width: 90%;
    height: 80%;
    min-height: 500px;
}

#bottom_panel {
    height: 20%;
    margin-top: 10px;
    padding: 5px 20px;
    border-top: 1px solid #E1E1E1;
    text-align: center;
    color: #666;
    font-size: 9pt;
}

.section {
    margin-bottom: 8px;
    padding: 15px 10px;
    background-color: #EFEFEF;
    border: 1px solid #E1E1E1;
}
