/* Default theme */

html,body {
	background-color: white;
	font-family: Verdana, "Lucida Grande", "Lucida Sans", sans, Hei;
    font-size: 11pt;
	margin: 0px;
	padding: 0px;
	color: #000;
}

#main {
    width: 960px;
    margin: 0 auto;
}

img {
  border: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 5px;
}

#top {
  margin-top: 5px;
}

#nav {
  text-align: left;
  padding: 5px 20px;
  margin-bottom: 10px;
  background: #D8E5F1;
}

#nav a:link, #nav a:visited {
  display: inline;
  text-decoration: none;
  margin-right: 13px;
}

#nav a:hover {
  display: inline;
  text-decoration: underline;
}

#sidebar {
  float: right;
  margin: 0 20px 0 0;
  padding: 2px 10px;
  background: #D8E5F1;
}

#sidebar a {
  display: block;
  margin: 4px 0px;
  padding: 2px 14px;
}

#content {
  margin: 0 0 0 20px;
  width: 76%;
}

#bottom {
	margin-top: 20px;
	padding: 10px 0px 5px 20px;
	text-align: left;
    font-size: 9pt;
    color: #5762A8;
    border-top: 1px solid #EBEBEB;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: underline;
    color: #5762A8;
}

label {
  font-size: 10pt;   
}

ul {
  margin: 0px;
  text-align: left;
  font-size: 10pt;
}

ul li {
  list-style-type: none;
  margin: 2px 0px;
  background-color: #EFEFEF;
}

.section {
  margin-bottom: 8px;
  padding: 4px 10px;
  background-color: #EFEFEF;
}

